{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
<title>Login Form</title>
{% endblock %}

{% block content %}
<div class="container">
<h1 class="display-3 text-center">Login</h1>
    <form class="form-group" method="POST" action="/login">
        <dl>
            {{ form.csrf_token }}
                {{ wtf.form_field(form.email) }}
                {{ wtf.form_field(form.password) }}
                <input class="btn btn-primary" type="submit" value="Login">
        </dl>
    </form>
</div>
{% endblock %}